@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", sans-serif;
  box-sizing: border-box;
  /* outline: 1px solid red;  */
}
html,
body {
  overflow-x: hidden;
}

header {
  width: 100%;
  max-width: 375px;
  /* max-width: 640px; */
  height: 181px;
  max-height: auto;
  padding-bottom: 20px;
  margin: 0 auto;
}

.anuncio-cupom {
  width: 100%;
  max-width: 375px;
  /* max-width: 640px; */
  height: auto;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 10px;
  background: #005cff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.anuncio-cupom p {
  color: #fff;
  font-size: 14px;
  line-height: 22px;
}

mark {
  background: #6220c1;
  color: #fff;
}
.cupom {
  font-weight: 100;
  font-size: 16px;
}

.header-content {
  width: 100%;
  max-width: 375px;
  /* max-width: 640px; */
  position: absolute;
  display: flex;
  flex-direction: column;
  margin: 4px auto 10px;
  padding: 10px;
}

.logo {
  width: 148px;
  height: 26px;
  margin: 0 auto;
}
#botoes {
}

#btn-login {
  display: none;
}

#btn-cart {
  width: 25px;
  height: 24px;
  position: relative;
  top: -54px;
  left: 91%;
  cursor: pointer;
}
.qtd-items-carro {
  background-color: #005cff;
  border-radius: 50%;
  width: 21px;
  height: 20px;
  position: absolute;
  top: -9px;
  left: 14px;
  color: #fff;
  text-align: center;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-weight: 600; */
}
.menu-mobile {
  cursor: pointer;
  position: relative;
  top: -25px;
  left: 10px;
  display: inline;
  /* display: none; */
}

#search-bar {
  width: 100%;
  max-width: 590px;
  height: 40px;
  margin: auto;
  display: flex;
  align-items: center;
  border: 1px solid #dddddd;
  border-radius: 10px;
  margin-bottom: 5px;
  padding: 5px;
  position: relative;
  top: -23px;
}

#btn-search {
  cursor: pointer;
  background-color: transparent;
  border: none;
}
#close-icon {
  display: none;
}

#input-search {
  margin-left: 10px;
  border: none;
  background-color: transparent;
  width: 92%;
  outline: none;
}

#search-result {
  height: auto;
  margin: 5px auto;
  position: relative;
  top: -23px;
}

/* Menu */

.menu {
  width: 155px;
  height: 100vh;
  background-color: #fff;
  position: absolute;
  top: 100px;
  left: 0;
  list-style: none;
  padding-left: 8px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  transform: translateX(-101%);
}
.menu li {
  margin: 21px 0;
}

.item-menu {
  text-decoration: none;
  color: #000;
  font-weight: 400;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000;
  transition: color 0.3s ease;
}
.item-menu:hover {
  color: #005cff;
  font-weight: 700;
}
.btn-hamburguer {
  cursor: pointer;
  margin-right: 5px;
}
.btn-hamburguer:hover svg line {
  stroke: #005cff;
}
.btn-hamburguer svg line {
  stroke: currentColor;
  transition: stroke 0.3s ease;
}

/* Submenus */

.sub-menu {
  display: none;
}

/* Inicio do main */

.super-sale-section {
  background-color: #e7e7ea;
  width: 100%;
  max-width: 375px;
  /* max-width: 640px; */
  height: 306px;
  overflow: hidden;
  margin-top: 20px;
}

#img-chair {
  width: 366px;
  height: 304px;
  mix-blend-mode: darken;
  position: relative;
  left: 50%;
  transform: translateX(-93%);
  top: 2px;
  z-index: 1;
}
#img-super-sale {
  display: none;
}

#img-super-sale2 {
  display: block;
  width: 144px;
  height: 169px;
  position: relative;
  top: -50%;
  transform: translateY(-142%);
  left: 51%;
  z-index: 2;
}

/* Seção de lançamentos  */

.latest-releases-announcement {
  max-width: 375px;
  /* max-width: 640px; */
  height: 22px;
  margin: 40px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.latest-releases-announcement h2 {
  font-size: 20px;
}
.latest-releases-announcement a {
  font-size: 14px;
  color: #303030;
  text-decoration: none;
  font-weight: 700;
}

.latest-releases-announcement a:hover {
  color: #0048c4;
  text-decoration: underline;
}

.latest-releases-slider {
  margin: 20px 0;
  position: relative;
  height: 435px;
}
.slide1 {
  width: 100%;
  max-width: 500px;
  height: 430px; /*440px;*/
  margin: 0 auto; /*0 auto*/
  display: flex;
  overflow: hidden;
  background-color: transparent;
}

.arrow-left,
.arrow-right {
  width: 30px;
  height: 31px;
  border: 1px solid #005cff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  transition: all 0.3s ease;
  display: none;
}
.arrow-left svg,
.arrow-right svg,
.swiper-button-prev svg,
.swiper-button-next svg {
  fill: #005cff;
  margin: 0;
  height: 100%;
  width: 100%;
}
.arrow-left:hover,
.arrow-right:hover {
  background-color: #005cff;
}
.arrow-left svg:hover,
.arrow-right svg:hover {
  fill: #fff;
}

/* Posicionamento das setas */
.arrow-left {
  left: 10px;
}
.arrow-right {
  right: 10px;
}
.list-products {
  display: flex;
  flex-direction: row;
  /*card--list*/
}
.list-product-item {
  /*card-item*/
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0 33px;
}

.slide1 .swiper-pagination-bullet {
  background-color: #838383;
}

.slide1 .swiper-pagination-bullet-active {
  background-color: #303030;
}

/* Card do produto */

.product-card {
  width: 238px;
  height: 403px;
  border: 1px solid #dddddd;
  background-color: #fff;
  border-radius: 9px;
  margin: 0 1px;
}
.product-card:hover {
  border: 1px solid #005cff;
}
.tag-new {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 41px;
  height: 23px;
  border-radius: 4px;
  background: #00264e;
  font-weight: 700;
  font-size: 10px;
  text-transform: uppercase;
  color: #fff;
  z-index: 2;
  position: relative;
  top: 6px;
  left: 7px;
}
.product-card img {
  position: relative;
  width: 222px;
  height: 222px;
  top: -16px;
  left: 8px;
  z-index: 1;
}

.product-description {
  width: 222px;
  height: 37px;
  font-weight: 400;
  margin: 0 auto;
  font-size: 12px;
  color: #303030;
}
.prices {
  width: 170px;
  height: 58px;
  top: 287px;
  left: 8px;
  margin: 0 5px 10px 10px;
}
.old-price {
  font-weight: 400;
  font-size: 12px;
  text-transform: capitalize;
  text-decoration: line-through;
  display: block;
  margin-bottom: 3px;
}
.actual-price {
  display: inline-block;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  text-transform: capitalize;
}
.tag-descount {
  width: 64px;
  height: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #5ec0be;
  font-weight: 700;
  font-size: 10px;
  color: #fff;
  z-index: 1;
  position: relative;
  top: -11px;
  left: 3px;
  border-radius: 4px;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-style: solid;
}
.installment-options {
  font-weight: 400;
  font-size: 12px;
}
#btn-buy {
  width: 222px;
  height: 40px;
  margin: 0 8px;
  border-radius: 8px;
  padding-top: 10px;
  padding-right: 24px;
  padding-bottom: 10px;
  padding-left: 24px;
  background-color: #005cff;
  color: #ffffff;
  border: none;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 2px;
  cursor: pointer;
}

#btn-buy:hover {
  background-color: #0048c4;
}

/* Seção caneca */

.mugs-section {
  width: 100%;
  max-width: 375px;
  /* max-width: 640px; */
  height: 750px;
  flex-direction: column;
  margin: 0 auto 80px;
  display: flex;
}
.mug-img {
  background-color: #c2c2c2;
  width: 100%;
  max-width: 375px;
  /* max-width: 640px; */
  height: 390px;
}
.mug-img img {
  position: relative;
  width: 335px;
  height: 340px;
  top: 7px;
  left: 50%;
  transform: translateX(-50%);
}
.mug-description {
  margin-top: 10px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 0;
  left: 4px;
  width: 85%;
  max-width: 400px;
  margin: 20px auto 0;
  gap: 7px;
  letter-spacing: 4%;
  font-weight: 100;
  margin: 30px auto;
}

.mug-description h2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: 4%;
  text-transform: uppercase;
}

.mug-description p {
  margin-top: 10px;
  font-size: 14px;
  width: 100%;

  gap: 7px;
  letter-spacing: 4%;
  font-weight: 100;
}

/* Seção topicos caneca */

.mug-benefits-section {
  background-color: #dedede;
  width: 100%;
  max-width: 375px;
  /* max-width: 640px; */
  margin: 0 auto 40px;
  display: flex;
  padding: 40px;
}
.mug-benefits-content {
  width: 100%;
  max-width: 600px;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  margin: auto;
  display: flex;
  align-items: center;
}
.mug-img2 {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px auto;
}
.mug-img2 img {
  width: 100%;
  height: 100%;
}
.mug-topics {
  width: 100%;
  margin: 0 auto 1px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.mug-topics h2 {
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 4%;
  text-align: center;
  text-transform: uppercase;
}
.mug-feature {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}
.mug-feature img {
  width: 22%;
  height: 80%;
}
.mug-feature p {
  font-size: 12px;
  line-height: 140%;
  letter-spacing: 5%;
  color: #4f4f4f;
}
/* Seçao lançamentos segunda */
.latest-releases-slider.second-instance {
  display: none;
}
/* Chamada para contato */

.contact-message {
  width: 100%;
  max-width: 375px;
  /* max-width: 640px; */
  height: 449px;
  background-image: url("../../assets/imgs/avanti.png");
  background-size: 157% 86%;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-message p {
  background-color: #005cff;
  width: 100%;
  max-width: 375px;
  /* max-width: 640px; */
  height: 75px;
  padding: 0 37px;
  font-size: 16px;
  line-height: 140%;
  color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.newsletter-signup {
  width: 100%;
  max-width: 375px;
  /* max-width: 640px; */
  height: auto;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.newsletter-signup p,
.newsletter-signup span {
  font-size: 16px;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0px;
}
.newsletter-signup span {
  text-align: center;
  color: #005cff;
}
#signup-form {
  background: #dedede;
  margin: 20px auto;
  width: 100%;
  max-width: 358px;
  height: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-radius: 5px;
}
.form-input-box {
  background-color: #fff;
  width: 280px;
  height: 48px;
  display: flex;
  align-items: center;
  border-radius: 8px;
}
.input-form {
  border: none;
  outline: none;
  background-color: transparent;
  width: 100%;
  padding: 8px;
}
.privacy-policy-btn {
  font-weight: 700;
  font-size: 12px;
  line-height: 100%;
  color: #656565;
  display: flex;
  align-items: center;
  gap: 6px;
}
.privacy-policy-btn a {
  font-size: 12px;
  color: #656565;
  cursor: pointer;
}
.newsletter-submit-btn {
  background-color: #005cff;
  width: 326px;
  height: 48px;
  border: none;
  border-radius: 8px;
  padding-top: 14px;
  padding-right: 24px;
  padding-bottom: 14px;
  padding-left: 24px;

  font-size: 16px;
  color: #fff;
}
.newsletter-submit-btn:hover {
  background-color: #0654d9;
}

/* Inicio do footer */

.avanti-informations {
  width: 100%;
  max-width: 375px;
  /* max-width: 640px; */
  height: auto;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}
.avanti-info-content {
  width: 100%;
  max-width: 375px;
  /* max-width: 640px; */
  margin: 0 auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}

.avanti-logo-social {
  margin: 20px auto;
  width: 235px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.avanti-social-media {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion {
  border: 1px solid #dddddd;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
}
.accordion-header {
  width: 100%;
  height: 70px;
  padding: 10px;
  border: none;
  background-color: transparent;

  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: 16px;
  cursor: pointer;
  margin-bottom: 0;
}
.material-symbols-outlined {
}
.accordion-body {
  color: #444;
  font-size: 14px;
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: opacity 0.3s;

  font-weight: 100;
  font-size: 12px;
  line-height: 100%;
  color: #303030;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.accordion-body p {
  font-weight: 100;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 1px;
  color: #303030;
}
.accordion:nth-child(3) {
  border: none;
}
.accordion-body.active {
  height: 100%;
  opacity: 1;
  padding: 5px 0px;
  margin-left: 10px;
  margin-bottom: 10px;
}
.accordion-body .contact {
  font-weight: 700;
  font-size: 12px;
  line-height: 100%;
  color: #000;
}
.accordion-body .contact span {
  font-weight: 100;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 1px;
  color: #303030;
}
.payment-methods {
  width: 100%;
  max-width: 288px;
  margin: 10px auto;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  gap: 20px;
  flex-wrap: wrap;
}

.payment-methods svg {
  margin-right: 8px;
}

.final-content {
  width: 100%;
  max-width: 375px;
  /* max-width: 640px; */
  height: auto;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer-text {
  width: 95%;
  margin: auto;
  height: auto;
  font-size: 12px;
  text-align: center;
  line-height: 20px;
  color: #303030;
}

.company-groups {
  margin: 30px;
  width: 295px;
  height: auto;
  margin: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 24px;
}

.footer-company-group-1,
.footer-company-group-2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  margin: 0 auto;
}

.footer-company-group-1 img {
  width: 50px;
}
.footer-company-group-2 .logo {
  width: 50px;
  height: 12px;
}
/* Media queries ------------------------------------ */

/* Estilos para tablets */
@media (min-width: 641px) and (max-width: 1024px) {
  header {
    width: 100%;
    max-width: 1024px;
    height: auto;
    margin: 0 auto;
    border: 1px solid rgb(0, 255, 38);
  }
  .anuncio-cupom p {
    width: 100%;
    max-width: 1024px;
    height: 44px;
    text-align: center;
    margin: 0 auto;
    background: #7a8eb1;
    color: #fff;
    font-size: 14px;
    text-align: center;
    line-height: 22px;
  }
}

/* Estilos para desktops */
@media (min-width: 1025px) {
  body {
    font-size: 18px;
  }
}
